.App {
    padding: 10px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}
.sound{
font-variant-numeric: tabular-nums;
text-align: left;
}
.inputs{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    height: 400px;
    justify-content: center;
}

.inputs textarea{
    width: 100%;
    height: 100%;
    margin: 10px;
}

.sound span{
    display: inline-block;
    width: 3em;
}
